<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
<body>
<form id="myform">
    <table>
        <tr>
            <td><label>汽车姓名</label></td>
            <td>
                <input type="text" class="form-control" name="id" id="id"style="display: none">
                <input type="text" class="form-control" name="carName" id="aa">
            </td>
        </tr>
        <tr>
            <td><label>价格</label></td>
            <td>
                <input type="text" class="form-control" name="carPrice" id="carPrice">
            </td>
        </tr>
    </table>
</form>
</body>
</html>