<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">
    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>
    <!-- bootstrap-table -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script  src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入日期得css和js文件 -->
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <!-- 引入上传文件的css和js文件 -->
    <script src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label >模糊查：</label>
        </div>
        <input type="text" class="form-control" id="yewu" placeholder="请输入姓名/职位">
        <button type="button" onclick="searchShop()" class="btn btn-success glyphicon glyphicon-search">搜索</button>
        <button type="button" onclick="addShop()" class="btn btn-warning glyphicon glyphicon-plus">新增</button>
    </form>
</div>
<table class="table" id="mytable"></table>
</body>
<script>
    $(function () {
        initTable();
    })

    //修改商品
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function updateShop(id){
        bootbox.dialog({
            title:'修改商品',
            message: createAddContent("/car/toadd3"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {

                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addEmp',//后台请求地址
                            type:'post',
                            data:$("#userform").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "修改成功！！！",
                                    callback: function(){
                                    }
                                });
                                //刷新表格
                                $('#mytable').bootstrapTable('refresh');//刷新表格
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        $.ajax({
            url:"../car/findEmp",
            data:{id:id},
            type:"get",
            async:true,
            success:function(data){
                $("#id").val(data.id);
                $("#name").val(data.name);
                $("#salay").val(data.salay);
                $("#time").val(data.time);
                $("#zname").val(data.zname);
            }
        });
    }

    //条查
    function searchShop() {
        $('#mytable').bootstrapTable('refresh');//刷新表格
    }
    //新增商品
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function addShop(){
        bootbox.dialog({
            title:'新增商品',
            message: createAddContent("/car/toadd3"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {

                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:'../car/addEmp',//后台请求地址
                            type:'post',
                            data:$("#userform").serialize(),//表单序列化
                            //dataType:'json',
                            success:function(){
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "新增成功！！！",
                                    callback: function(){
                                    }
                                });
                                //刷新表格
                                $('#mytable').bootstrapTable('refresh');//刷新表格
                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }
    //删除
    function delShop(id) {
        bootbox.confirm({
            size: "small",
            title:"提示",
            message: "是否确认删除?",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url:"../car/delEmp",
                        data:{id:id},
                        type:"delete",
                        success:function(){
                            bootbox.alert({
                                size: "small",
                                title: "提示",
                                message: "删除成功！！！",
                                callback: function(){}
                            });
                            //刷新表格：如果有条查直接调用条查的方法，没有条查自己写【refresh】方法
                            $("#mytable").bootstrapTable("refresh");
                        }
                    });
                }
            }
        })
    }
    //初始化加载表格
    function initTable() {
        $('#mytable').bootstrapTable({
            toolbar: '#toolbar',
            url: '../car/efindTable',//获取数据地址
            pagination:true, //是否展示分页
            pageList:[2, 4, 6, 8],
            //分页组件
            pageNumber:1,
            pageSize:2,//默认每页条数 //
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页 （*
            queryParams:function(){
                return {
                    page: this.pageNumber,
                    rows:  this.pageSize,
                    yewu:$("#yewu").val()

                }; },
            columns: [
                {checkbox: true},
                {field: 'id', title: 'id', align: 'center', width: 150},
                {field: 'name', title: '姓名', align: 'center', width: 150},
                {field: 'salary', title: '工资', width: 150, align: 'center'},
                {field: 'time', title: '入职时间', width: 150, align: 'center'},
                {field: 'zname', title: '职位', width: 150, align: 'center'},
                {field: 'tools', title: '操作', width: 150, align: 'center',formatter: function (value, row, index) {
                        return"<a class='btn btn-info' href='javascript:updateShop(" + row.id+")'>修改</a> | <a class='btn btn-info' href='javascript:delShop(" + row.id+")'>删除</a>";
                    }},
            ]
        });
    }
</script>
</html>